* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display {
    padding: 4px;
    background-color: darkslateblue;
    color: rgb(196, 134, 255);
    border: 2px solid black;
    width: 250px;
    height: 150px;
    font-size: 64px;
    text-align: center;
    border-radius: 12px;
}

.display:focus {
    outline: none;
}

.addBtn {
    padding: 4px;
    width: 100px;
    height: 50px;
    border-radius: 12px;
    border: 2px solid black;
}

.addBtn:hover {
    background-color: dimgray;
}

.addBtn:active {
    background-color: gray;
}
.counter {
    padding: 4px;
    width: 400px;
    height: 500px;
    background-color: lightslategray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-radius: 12px;
    border: 3px solid black;
}